.task-details {
  .title {
    text-transform: capitalize;
  }
  .comment-container {
    border: 1px solid #ccc;
    float: left;
    width: 100%;
  }
  .img {
    width: 50px;
    float: left;
    margin-right: 10px;
    img {
      width: 100%;
      border: 1px solid #dcdcdc;
    }
  }
  .user-name, .date {
    float: left;
    width: calc(100% - 60px);
  }
  .comment-section {
    width: 100%;
    float: left;
  }
  .page-link {
    box-shadow: none;
  }
  .created-by {
    color: #a27f47;
    font-size: 12px;
  }
}