<div class="container task">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title heading-border">Tasks<span class="float-right" style="font-size: 12px;font-weight: normal;"><a routerLink='../../'>Back</a></span></h5>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
					<li class="breadcrumb-item" aria-current="page"><a routerLink="/projects">Projects</a></li>
					<li class="breadcrumb-item active" aria-current="/projects">{{project_name}}</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-sm-12">
					<table class="table table-hover tasks-table">
						<thead>
							<tr>
								<th>Title</th>
								<th>Tag</th>
								<th>Content</th>
								<th>Delete Task</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let task of tasks">
								<td>
									<a routerLink='{{task.link}}'>{{task.title}}</a><br />
									<span class="created-by">{{'(Created by ' + task.name + ')'}}</span>
								</td>
								<td>
									<span [hidden]="(task.tag == 'pending')">{{task.tag}}</span>
									<label class="container"  [hidden]="!(task.tag == 'pending')">{{task.tag}}
										<input type="checkbox" (click)="sendUpdate(task.pending)" >
										<span class="checkmark"></span>
									</label>

								</td> 
								<td>{{task.content}}</td>
								<td><a href="javascript:void(0);" (click)="deleteTask(task.pending, task.sr)"><img src="/assets/images/delete.svg" width="20"></a></td>
							</tr>
							<tr *ngIf="last_page_task != 1"><td colspan="4">
								
								<span class="float-right">
									<span>{{current_page_task}}</span>/<span>{{last_page_task}}</span>
								</span> <br>
								<ul class="pagination justify-content-end mb-0">
									<li class="page-item">
										<a class="page-link" href="javascript:void(0)" (click)="pageChange(-1)">
											<img src="/assets/images/back-arrow.svg" width="20" />
										</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="javascript:void(0)" (click)="pageChange(1)">
											<img src="/assets/images/share.svg" width="20" />
										</a>
									</li>
								</ul>
							</td></tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<label>Task Title: </label><br>
					<input type="text" class="form-control" placeholder="title" [(ngModel)]='taskName'>
				</div>
				<div class="col-md-6">
					<label>Assign To: </label><br>
					<input type="text" class="form-control" placeholder="Assign this task to ..." [(ngModel)]='taskAssignedTo'>
				</div>
				<div class="col-md-12 mt-3 mt-2">
					<label>Task Description: </label><br>
					<textarea  class="form-control" placeholder="content" [(ngModel)]="taskDescription"></textarea> 
				</div>
				<div class="col-sm-12 mb-4 mt-3">
					<button type="button" class="btn btn-primary custom-btn btn-sm" (click)="addTask()">Add Task</button>
				</div>
				
			</div>
		</div>
	</div>
</div>